      <div class="posts">
        <h2 class="post-container-heading">Posts by <%- user.first_name %></h2>
        <div class="post-container">
          <% posts.forEach(post=>{ %>
            <%- include ("../../components/UserDetailPost/UserDetailPost", {
        			user: user,
              post: post,
        		}) %>
            <% if (posts.indexOf(post) < posts.length-1) { %>
              <hr class="post-hr" />
            <% } %>
          <% }); %>
        </div>
      </div>
