<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Stuff",
        description: "This is my app.",
        cssSheetNames: ["stuff.css",]
      },
    }) %>
  <body>
    <%- include ("../partials/header") %>
    <main id="content" class="content">
      stuff.ejs
    </main>
    <%- include ("../partials/footer", {
			currentPage: "stuff",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
