      <div class="search-results">
        <% posts.forEach(post=>{ %>
          <%- include ("../SearchResult/SearchResult.ejs", {
            post: post,
          }) %>
          <% if (posts.indexOf(post) < posts.length-1) { %>
            <hr class="content-hr" />
          <% } %>
        <% }); %>
      </div>
