      <div class="search-results">
        <section class="page-title-section">
          <h2 class="page-title">Search</h2>
        </section>
        <% posts.forEach(post=>{ %>
          <%- include ("../SearchResult/SearchResult.ejs", {
            post: post,
          }) %>
          <% if (posts.indexOf(post) < posts.length-1) { %>
            <hr class="content-hr" />
          <% } %>
        <% }); %>
      </div>
