<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Notifications",
        description: "This is my app.",
        cssSheetNames: ["notifications.css",]
      },
    }) %>
  <body>
    <%- include ("../components/Header") %>
    <main id="content" class="content">
      notifications.ejs
    </main>
    <%- include ("../components/Footer", {
			currentPage: "notifications",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
