      <div class="menu">
        <% if(user) { %>
          <%- include ("UserProfileMenuItem", {
            user: user,
          }) %>
        <% } %>
        <% for(const menuItem of menuItems) { %>
        <%- include ("MenuItem", {
          menuItem: menuItem,
        }) %>
        <% }; %>
      </div>
