.menu-item {
  display: block;
  color: black;
  background-color: lightgray;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 0.5rem;
}

.menu-item-user-container {
  margin-bottom: 2rem;
}

.menu-item-user-photo {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.menu-item-user-name-container {
  display: inline-block;
  padding-left: 0.5rem;
}

.menu-item-user-name {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.menu-item-user-username {
  font-weight: normal;
  font-size: 0.9rem;
  margin-left: 0.25rem;
}
