.content {
  padding: 1rem;
}

.post-section {
  width: 100%;
}

.post-header {
  margin-bottom: 1rem;
}

.post-heading {
  display: block;
  font-family: serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.post-author-container {
  display: block;
}

.post-author-photo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25em;
  border-radius: 50%;
}

.post-author-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-color);
}

.post-date {
  display: block;
  color: gray;
  font-size: 0.9rem;
  font-style: italic;
}

.post-image {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.post-body {
  color: black;
  font-size: 1rem;
}
