.content {
  padding: 1rem;
}

.post-section {
  width: 100%;
}

.post-heading-container {
  position: relative;
}

#post-heading-input {
  display: block;
  width: 100%;
  font-family: serif;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

#post-heading-input[readonly=""] {
  background: none;
  border: none;
}

.post-edit-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: var(--accent-color);
  background: none;
  border: none;
}

#post-heading-input[readonly=""] + .post-edit-button {
  display: block;
}

.post-author-container {
  display: block;
}

.post-author-photo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25em;
  border-radius: 50%;
}

.post-author-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-color);
}

.post-date {
  display: block;
  color: gray;
  font-size: 0.9rem;
  font-style: italic;
}

.post-image {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

#post-body-input {
  width: 100%;
  height: 20rem;
  resize: none;
  border: 2px solid lightgray;
  border-radius: 0.25rem;
  padding: 2rem 1rem;
  font-size: 1rem;
}

.post-form-footer {
  margin: 0.5rem auto;
  text-align: center;
}

.post-form-button {
  display: inline-block;
  color: white;
  background-color: rgb(100,100,100);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
