        <div class="posts-preview">
          <h3 class="posts-preview-heading">Posts</h3>
          <% posts.map((post, index) => { %>
            <%- include ("../PostPreview/PostPreview", {
              post: post
            }) %>
            <% if (index < posts.length-1) { %>
              <hr class="content-hr" />
            <% } %>
          <% }); %>
        </div>
