        <div class="posts-preview">
          <% posts.map((post, index) => { %>
            <%- include ("../PostPreview/PostPreview.ejs", {
              post: post
            }) %>
            <% if (index < posts.length-1) { %>
              <hr class="content-hr" />
            <% } %>
          <% }); %>
        </div>
