        <section class="search-bar">
          <form class="search-form" action="/posts/search" method="GET">
            <input class="search-input" name="q" type="text" placeholder="Search..." value="<%- search %>" tabindex="1"/>
            <button type="submit" class="search-button fas fa-search"></button>
          </form>
        </section>
