.search-bar {
  .search-bar-form {
    display: flex;
    align-items: center;
  }

  .search-bar-input {
    width: 0;
    padding: 0;
    border: none;
    border-radius: 1rem;
    transition: width 0.5s;
  }

  .search-bar-submit {
    background: none;
  }

  .search-bar-submit-icon {
    font-size: 1.25rem;
  }

  &.search {
    .search-bar-input {
      width: 10rem;
      padding: 0.25rem 1rem;
    }
  }
}
