        <section class="search-bar">
          <form class="search-bar-form" action="/posts/search" method="GET">
            <input class="search-bar-input collapse" name="q" type="text" placeholder="Search..." value="<%- search %>" tabindex="1"/>
            <button class="btn search-bar-submit" type="submit" >
              <i class="search-bar-submit-icon fas fa-search"></i>
            </button>
          </form>
        </section>
