<html>
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main id="content" class="content">
      account.ejs
      <%- console.log(account); %>.
    </main>
    <%- include ("partials/footer") %>
  </body>
  <script src="/js/currentPage.js"></script>
</html>
