<html>
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main id="content" class="content">
      <!-- This will be filled by Javascript -->
    </main>
    <%- include ("partials/footer") %>
  </body>
  <script src="/js/index.js"></script>
  <script src="/js/currentPage.js"></script>
</html>
