<html>
  <head>
    <%- include ("partials/head", {
      meta: {
        title: "App | Login",
        description: "This is my app.",
        cssSheetNames: ["login.css",]
      },
    }) %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main class="content">
      <form class="login-form" action="/login" method="POST">
        <div class="login-form-header">
          <h3 class="login-form-heading">Log In</h3>
          <p class="login-form-error <% if (failure) {%>failure<% } %>">The username or password is incorrect.</p>
        </div>
        <label for="username" class="login-form-component login-form-label">Username</label>
        <input id="login-form-username" class="login-form-component login-form-input" type="text" name="username" tabindex="1" required>
        <label for="password" class="login-form-component login-form-label">Password</label>
        <input id="login-form-password" class="login-form-component login-form-input" type="password" name="password" tabindex="2" required>
        <button class="login-form-component login-form-submit" type="submit" tabindex="3">Log In</button>
        <div class="login-form-loading-container">
          <i class="login-form-loading-circle fas fa-spinner"></i>
        </div>
      </form>
    </main>
    <%- include ("partials/footer") %>
  </body>
  <script src="/js/currentPage.js"></script>
</html>
