<html>
  <head>
    <%- include ("partials/head", {
      meta: {
        title: "App | Notifications",
        description: "This is my app.",
        cssSheetNames: ["notifications.css",]
      },
    }) %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main id="content" class="content">
      notifications.ejs
    </main>
    <%- include ("partials/footer") %>
  </body>
  <script src="/js/currentPage.js"></script>
</html>
