        <a class="menu-item menu-item-user" href="/account">
          <img class="menu-item-user-photo" src="<%- user.photoUrl %>">
          <div class="menu-item-user-name-container">
            <h3 class="menu-item-user-name"><%- user.firstName+' '+user.lastName %></h3>
            <h5 class="menu-item-user-username"><%- user.username %></h5>
          </div>
        </a>
