<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Stuff",
        description: "This is my app.",
        cssSheetNames: ["stuff.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      stuff.ejs
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "stuff",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
