<!-- views/partials/footer.ejs -->

<footer>
  <nav class="navbar">
    <a class="navbar-button" href="/"><i class="navbar-icon fas fa-home"></i><span class="navbar-name">Home</span></a
    ><a class="navbar-button" href="/stuff"><i class="navbar-icon fas fa-box-open"></i><span class="navbar-name">Stuff</span></a
    ><a class="navbar-button" href="/notifications"><i class="navbar-icon fas fa-bell"></i><span class="navbar-name">Notifications</span></a
    ><a class="navbar-button" href="/menu"><i class="navbar-icon fas fa-bars"></i><span class="navbar-name">Menu</span></a>
  </nav>
</footer>
