<!-- views/partials/footer.ejs -->

<footer>
  <nav class="navbar">
    <a class="navbar-button" href="/"><i class="navbar-icon fas fa-home"></i><span class="navbar-name">Home</span></a
    ><a class="navbar-button" href="#"><i class="navbar-icon fas fa-tools"></i><span class="navbar-name">Tools</span></a
    ><a class="navbar-button" href="#"><i class="navbar-icon fas fa-box-open"></i><span class="navbar-name">Stuff</span></a
    ><a class="navbar-button" href="#"><i class="navbar-icon fas fa-bell"></i><span class="navbar-name">Notifications</span></a
    ><a class="navbar-button" href="#"><i class="navbar-icon fas fa-cog"></i><span class="navbar-name">Settings</span></a>
  </nav>
</footer>
