<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="This is my app.">
<link type="image/ico" rel="icon" href="assets/logo.png">
<title>App</title>

<!-- FONT AWESOME -->
<!-- NOTE: Import Font Awesome first, so we can override the formating of their icons -->
<script src="https://kit.fontawesome.com/4849833081.js" crossorigin="anonymous"></script>

<!-- STYLESHEETS -->
<link type="text/css" rel="stylesheet" href="/css/main.css">
