        <div class="dialog-container">
          <dialog class="dialog" open>
            <p class="dialog-text"><%- text %></p>
            <button class="dialog-button dialog-ok-button" type="button"><%- okButton %></button>
            <button class="dialog-button dialog-cancel-button" type="button"><%- cancelButton %></button>
          </dialog>
        </div>
