        <div class="modal">
          <dialog class="modal-dialog" open>
            <p class="modal-dialog-text"><%- text %></p>
            <button class="modal-dialog-button modal-dialog-ok-button" type="button"><%- okButton %></button>
            <button class="modal-dialog-button modal-dialog-cancel-button" type="button"><%- cancelButton %></button>
          </dialog>
        </div>
