<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Notifications",
        description: "This is my app.",
        cssSheetNames: ["notifications.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <h1 class="page-title">Notifications</h1>
      notifications.ejs
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "notifications",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
