.user-section {
  width: 100%;
}

.user-name {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.user-photo {
  display: block;
  width: 18rem;
  height: 18rem;
  margin: 0 auto;
  border: 0.5rem solid var(--accent-color);
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 2rem;
}

.user-profile-edit-button {
  display: inline-block;
  color: white;
  background-color: rgb(100,100,100);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  border: none;
}

.user-profile-edit-button:hover {
  background-color: rgb(75,75,75);
}

.post-container {
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.post-container-heading {
  display: block;
  color: var(--dark-color);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post-section {
  position: relative;
  width: 100%;
  height: 60vw;
  overflow-y: hidden;
}

.post-image {
  float: left;
  width: 60%;
  max-height: 60%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-heading {
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 0.5em;
}

.post-date {
  display: block;
  color: gray;
  font-size: 0.6rem;
  font-style: italic;
  text-align: right;
  margin-bottom: 0.5rem;
}

.post-author-container {
  display: block;
  text-align: right;
}

.post-author-photo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.25em;
  border-radius: 50%;
}

.post-author-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--accent-color);
}

.post-body {
  color: gray;
  font-size: 0.75rem;
}

.post-body-see-more-button {
  color: var(--accent-color);
  cursor: pointer;
  margin-left: 1rem;
}

.post-continue-reading-button {
  display: inline-block;
  position: absolute;
  color: white;
  background-color: var(--accent-color);
  font-size: 0.8em;
  padding: 0.4em 1em;
  border-radius: 0.25em;
  margin-top: 0.5em;
  right: 0;
  bottom: 0;
}

.post-body-more {
  display: none;
}

.post-hr {
  margin: 1em;
  border: 0.5px solid var(--accent-color);
  border-radius: 10rem;
}
