    <div class="user">
      <section class="user-section">
        <img class="user-photo" src="<%- user.user_photo_url %>" /
        ><h3 class="user-name"><%- user.first_name+' '+user.last_name %></h3>
      </section>
      <% if (sessionUser && sessionUser.userId === user.user_id) { %>
        <button class="user-profile-edit-button" onclick="">Edit Profile</button>
      <% } %>
      <%- include ("../../components/UserDetailPosts/UserDetailPosts", {
  			user: user,
        posts: posts,
  		}) %>
    </div>
